.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  padding-top: rem(140px);
  padding-bottom: rem(140px);
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-size: rem(62px);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-align: center;
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: rem(24px);
  text-align: center;
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  display: flex;
  justify-content: center;
  gap: var(--mantine-spacing-md);
}

.control {
  font-size: var(--mantine-font-size-xl);
}